# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
.DS_Store

# --- FRONTEND / NODE ---
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json # Opcional: Alguns times gostam de subir, mas se der conflito, pode ignorar
yarn.lock         # Idem

# --- IDEs (VS Code, Pycharm, etc) ---
.idea/
.vscode/
*.swp