.main-container{
    min-width: 410px;
    display: flex;
    flex-direction: column;
    background-color: #66452a;
    width: 80%;
    height: 90%;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    min-height: 260px;
}

.user-area-body{
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: grid; 
    grid-template-columns: 200px 1fr;
}

.sample-area-body{
    overflow-x: hidden;
}

.pdf-render{
    width: 100%;
    height: 100%;
}

